*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
    background-color: black;
    height: 80px;
    align-items: center;
}
#logo-main{
    width: 100px;
    height: 50px;
    display: flex;
    
}
#logo-main svg{
    fill: white;

}
#logo-main svg:hover{
    fill: green;
}
.div-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.div-1 a{
    color: white;
    text-decoration:none;
}
.div-1 h2{
    color: white;
}
.div-2{
    display: flex;
    gap: 40px;
}

.section-1{
    background-image: url(./imagess/hero-image.jpeg);
    background-repeat: no-repeat;
   background-size: 100%;
    /* background-position: center; */
    position: relative;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 550px;
    overflow: hidden;
    background-position-x: center;
    background-position-y: 40%;
}
.section-1 h2{
    font-size: 60px;
    color: white;
    position: relative;
    
}
.section-1 button{
    height: 45px;
    width: 140px;
    border-radius: 30px;
    font-weight:500;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* .section-1 .h22{
    padding-bottom: 80px;
} */